html, body {
    margin: 0;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

nav {
    display: flex;
    flex-direction: row-reverse;
<<<<<<< HEAD
    background-color: maroon;
    margin: 0;
    padding: 0 5vw;
}

.nav-item {
=======
    background-color: #800000;
>>>>>>> bd182c6c46288b4bba487bd8f7a3c01ce0fe12a0
    padding: 1.5em 3em;
    transition: 0.5s;
}

.nav-item:hover {
    background-color: #640000;
    transition: 0.25s;
}

.nav-link {
<<<<<<< HEAD
    color: #ddd;
=======
    padding: 1em 2em;
    color: #DDD;
>>>>>>> bd182c6c46288b4bba487bd8f7a3c01ce0fe12a0
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25em;
    transition: 0.5s;
}

.nav-link:hover {
    color: white;
    transition: 0.25s;
}

.banner-img-wrap {
    width: 100vw;
    display: block;
}

.banner-img {
    width: 100vw;
    display: block;
}

.nav-link:hover {
    color: #FFF;
}