html, body {
    margin: 0;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: #800000;
    padding: 1.5em 3em;
}

.nav-link {
    padding: 1em 2em;
    color: #DDD;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #FFF;
}